body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 800px;
}

header {
	position: absolute;
	top: 0px;
}

.gridContainer {
	display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
	height: 100px;
	width: 100px;
}

.gridPixel {
	border: 2px solid;
	border-color: black;
	padding: 15px;
}

footer {
	display: flex;
	flex-shrink: 0;
}
